[Unit]
Description=EC2 Instance Connect Host Key Harvesting
Before=ssh.service
After=network.target ssh-keygen.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
# Prefixing the ExecStart executable with a '-' ignores any failure exit codes and considers it a success
# This is to avoid issues with the host key harvesting script during system startup
# and not leave the system in a degraded state.
# See Table 1 under ExecStart= for details https://www.freedesktop.org/software/systemd/man/systemd.service.html
ExecStart=-/usr/share/ec2-instance-connect/eic_harvest_hostkeys
