[Unit]
Description=EC2 Instance Connect Host Key Harvesting
Before=sshd.service
After=network.target sshd-keygen.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/opt/aws/bin/eic_harvest_hostkeys
